input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  width: 100%;
}

li {
  width: 100%;
}

@media (max-width: 450px) {
  .title-li {
    font-size: 12px;
  }
}